.pages {
  margin: 0;
  width: 100%;
  height: 100vh;
  padding-top: 200px;
}

.to-do-list-container {
  background-color: #ffffff;
  width: 377px;
  height: auto;
  margin: 0 auto;
  gap: 10px;
  padding: 20px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.16);
  border-radius: 6px;
}

.title {
  width: 345px;
  height: 28px;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputsection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  width: 280px;
  height: 38px;
  border-radius: 6px;
  border-color: #b7b7f4;
  border: 0.2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border: none;
  padding: 0;
  margin: 0.2px;
  height: 100%;
  width: 100%;
}

.addbutton {
  width: 59px;
  height: 40px;
  padding: 8px 16px 8px 16px;
  margin: 0;
  gap: 10px;
  border-radius: 6px;
  border: none;
  margin-left: 6px;
  background-color: #3c82f6;
  color: #ffffff;
}

.tabs-container {
  display: flex;
  width: 345px;
  height: 32px;
  gap: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-self: center;
}

.tab-button {
  border: none;
  border-radius: 6px;
  height: 32px;
  font-weight: 400px;
  font-size: 12px;
  background-color: #f3f4f6;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lists {
  background-color: rgba(160, 245, 176, 0.3);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 300px;
  overflow: scroll;
}

.eachlist {
  width: 320px;
  height: auto;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap:10px;
}

li {
  font-size: 18px;
  padding: 2px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  border: 1px, solid, black;


}

.listbuttons-container {
  position: relative;
  right: 5px;
  display: flex;
  gap: 10px;
}

.listbutton {
  width: 50px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}
ul {
  padding: 0;
}
.checkbutton {
  background-color: #3c82f6;
}